@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 36px;
  margin: 75px 0;
  text-align: center;
}

h4,
h3 {
  margin: 30px 0;
  font-weight: 600;
  color: #222;
  line-height: 1.2em;
}

section {
  padding: 20px;
}

section:nth-child(odd) {
  background-color: #f9f9ff;
}
