.intro {
  display: block;
  width: 100%;
}

.intro p {
  display: block;
  padding: 20px;
}

.projects {
  margin: 20px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  background: #444;
  min-height: 75vh;
  height: 20em;
  align-items: center;
  justify-items: center;
}

.title {
  font-size: 4em;
  font-weight: 200;
  padding: 0 0.5em 0.25em 0.5em;
  color: white;
  border-bottom: 4px solid white;
  text-align: center;
  margin-bottom: 0.5em;
  height: 50%;
}

.tagline {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.325rem;
  font-weight: 400;
  font-size: 0.8em;
  padding: 0 1.25em;
}

.inner {
  transition: opacity 2s ease;
  opacity: 1;
  padding: 25% 0;
}

.skillTitle {
  text-align: center;
  margin-bottom: 75px;
}

.skillset,
.projects {
  display: flex;
  flex-wrap: wrap;
}

.skill,
.project {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 30px;
  box-sizing: border-box;
}

.skill i {
  font-size: 36px;
}

@media only screen and (max-width: 600px) {
  .skillset,
  .projects {
    flex-direction: column;
  }

  .skill,
  .project {
    flex: 1;
    max-width: 100%;
  }
}
