header {
    display: block;
    padding: 20px 10px;
    width: 100%;
}

nav {
    display: block;
    font-size: 1.5em;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

nav ul a {
    text-decoration: none;
}